<p> Dear {{username}}, </p>

<p> Thank you for registering with {{companyName}}! Please use below number to confirm your email: </p>

<p> {{randomNumber}} </p>

<p> If you did not register with {{companyName}}, please ignore this email. </p>

<p> Thank you, </p>
<p> {{companyName}} </p>
